#cases {
  display: flex;
  flex-direction: column;
  gap: var(--size-72);
  width: 100%;
}

#cases > h2,
.card__content-wrapper > h3 {
  color: var(--color-brand-primary-100);
}

.case__card,
.card__content {
  display: flex;
}

.case__card {
  align-items: center;
  background: var(--color-brand-secondary-500);
  border: 1px solid rgba(173, 255, 255, 0.04);
  border-radius: var(--size-24);
  box-shadow: 0px 1px 0px 0px rgba(22, 184, 184, 0.16) inset;
  gap: var(--size-80);
  padding: var(--size-88) var(--size-96);
}

.card__content {
  align-items: flex-start;
  flex-direction: column;
  gap: var(--size-40);
  width: 100%;
}

.card__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}

.card__content-wrapper > p {
  font-size: var(--font-size-xs);
  line-height: var(--line-body-sm);
}

.card__content-wrapper > ul li span {
  color: var(--color-brand-primary-500);
}

.case__preview {
  /* background: black; */
  display: flex;
  height: 45vh;
  width: 80vw;
}

.case__preview img {
  height: 100%;
  width: 100%;
}
