footer {
  border-top: 0.15em solid var(--brand-secondary-500);
  display: grid;
  gap: 2rem;
  padding-block: 3rem;

  & svg {
    width: 2.1rem;

    & path {
      fill: var(--brand-secondary-100);
    }
  }

  & > div {
    & > div {
      font-size: var(--fs-base);

      & > p {
        font-size: var(--fs-xs);
      }
    }
  }

  & > div,
  & > nav {
    display: grid;
    gap: 1rem;
  }

  & > nav {
    grid-template-columns: auto 1fr;
  }
}

@media (width >= 48em) {
  footer {
    grid-template-columns: 1fr auto;

    & > div,
    & > nav {
      display: grid;
      grid-template-columns: auto 1fr;
      justify-self: flex-start;
    }

    & > nav {
      gap: 2rem;
    }
  }
}

@media (width >= 64em) {
  footer {
    & svg {
      width: 3rem;
    }
  }
}
