@import "root.css";

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--brand-primary-100);
}

a:hover {
  opacity: 0.6;
}

body {
  background: var(--brand-secondary-700);
  color: var(--neutral-100);
  font-family: var(--body);
  font-size: var(--20);
  line-height: var(--30);
}

main {
  display: grid;
  gap: var(--240);
  grid-auto-rows: var(--768) auto auto auto;
  padding: var(--40);
}

header {
  background: blue;
}

section {
  background: red;
}

footer {
  align-items: center;
  display: grid;
  gap: var(--24);
  grid-template-columns: auto 3fr auto;
}

footer svg {
  fill: var(--brand-secondary-500);
}

footer div {
  color: var(--brand-primary-100);
}

footer div span {
  color: var(--neutral-100);
  font-size: var(--14);
  line-height: var(--22);
}

footer nav {
  display: flex;
}

footer nav a {
  padding: var(--24);
}
