#photos {
  display: none;
  gap: 2rem;

  h3 {
    display: none;
  }

  & img {
    aspect-ratio: 4/3;
  }
}

@media (width >= 76em) {
  #photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & img {
      filter: grayscale(1);
      mix-blend-mode: screen;
      opacity: 0.3;
      -webkit-transition: opacity 250ms;
      transition: opacity 250ms;

      &:hover {
        filter: none;
        mix-blend-mode: normal;
        opacity: 1;
      }
    }
  }
}
