@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-RegularItalic";
  src: url("../fonts/Satoshi-RegularItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-RegularItalic.woff") format("woff"),
    url("../fonts/Satoshi-RegularItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

:root {
  --brand-primary-100: rgba(173, 255, 255, 1);
  --brand-primary-500: rgba(22, 184, 184, 1);
  --brand-primary-700: rgba(0, 158, 158, 1);
  --brand-secondary-100: rgba(12, 67, 102, 1);
  --brand-secondary-500: rgba(2, 26, 41, 1);
  --brand-secondary-700: rgba(0, 13, 20, 1);
  --neutral-100: rgba(188, 210, 224, 1);
  --neutral-300: rgba(154, 172, 184, 1);
  --neutral-500: rgba(120, 134, 143, 1);
  --neutral-700: rgba(51, 57, 61, 1);
  --feedback-success: rgba(51, 184, 124, 1);
  --feedback-danger: rgba(184, 51, 51, 1);
  --feedback-warning: rgba(184, 135, 22, 1);
  --title: "Satoshi-Medium";
  --title-italic: "Satoshi-MediumItalic";
  --body: "Satoshi-Regular";
  --body-italic: "Satoshi-RegularItalic";
  --8: 0.8rem;
  --14: 1.4rem;
  --16: 1.6rem;
  --18: 1.8rem;
  --20: 2rem;
  --24: 2.4rem;
  --26: 2.6rem;
  --28: 2.8rem;
  --32: 3.2rem;
  --36: 3.6rem;
  --40: 4rem;
  --48: 4.8rem;
  --56: 5.6rem;
  --64: 6.4rem;
  --72: 7.2rem;
  --80: 8rem;
  --88: 8.8rem;
  --96: 9.6rem;
  --104: 10.4rem;
  --112: 11.2rem;
  --240: 24rem;
  --540: 54rem;
  --768: 79.8rem;
}
