.btn {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font: var(--fw-base) var(--fs-sm) / var(--lh-xl) var(--ff);
  justify-content: center;
  width: fit-content;
  text-align: center;
  transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
}

.btn-primary,
.btn-secondary {
  border-radius: 5rem;
  padding: 0.8125rem 1.5rem;
}

.btn-primary {
  background-color: var(--brand-primary-500);
  color: var(--brand-secondary-700);
}

.btn-secondary {
  border: 0.05rem solid var(--brand-primary-500);
  color: var(--brand-primary-500);
}

.btn-icon {
  font: var(--fw-base) var(--fs-xl) / var(--lh-lg) var(--ff);
}

@media (width >= 76em) {
  .btn {
    &:hover {
      opacity: 0.6;
    }
  }
}
