#cases {
  display: grid;
  gap: 2.5rem;

  & article {
    align-items: center;
    background: radial-gradient(
        circle at top,
        hsla(203, 79%, 22%, 0.4) -20%,
        hsla(203, 90%, 8.4%, 0.4) 50%
      )
      var(--brand-secondary-700) no-repeat top;
    border: 1px solid rgba(173, 255, 255, 0.04);
    border-radius: 1.5rem;
    box-shadow: 0px 1px 0px 0px rgba(22, 184, 184, 0.16) inset;
    display: grid;
    gap: 2rem;
    justify-items: center;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;

    & img {
      width: 100%;
      max-width: 20rem;
    }

    & > div {
      width: 100%;

      & .btn {
        width: 100%;
      }

      & > span {
        font-size: var(--fs-xs);
      }

      & h3 {
        padding-block: 2.5rem;
      }

      & > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        & span {
          color: var(--brand-primary-500);
        }
      }
    }
  }
}

@media (width >= 64em) {
  #cases {
    & article {
      background: radial-gradient(
          circle at left,
          hsla(203, 79%, 22%, 0.4) -20%,
          hsla(203, 90%, 8.4%, 0.4) 50%
        )
        var(--brand-secondary-700) no-repeat top;
      grid-auto-flow: column;
      grid-auto-columns: 1fr 2fr;
      padding: 4rem;

      & > div {
        & h3 {
          padding-block: 1.5rem;
        }

        & .btn {
          width: fit-content;
        }
      }
    }
  }
}
