@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  --brand-primary-100: #adffff;
  --brand-primary-500: #16b8b8;
  --brand-primary-700: #009e9e;
  --brand-secondary-100: #0c4366;
  --brand-secondary-500: #021a29;
  --brand-secondary-700: #000d14;
  --feedback-danger: #b83333;
  --feedback-success: #33b87c;
  --feedback-warning: #b88716;
  --neutral-100: #bcd2e0;
  --neutral-300: #9aacb8;
  --neutral-500: #78868f;
  --neutral-700: #33393d;

  --wrapper-margin: 1.5rem;
  --max-img: 20rem;

  --ff: "Satoshi", system-ui, sans-serif;
  --fw-base: normal;
  --fst-italic: italic;
  --fw-bold: bold;

  --fs-3xl: 2.35rem;
  --fs-2xl: 2.15rem;
  --fs-xl: 1.75rem;
  --fs-lg: 1.55rem;
  --fs-md: 1.3rem;
  --fs-base: 1.15rem;
  --fs-sm: 1.025rem;
  --fs-xs: 0.875rem;

  --lh-base: 1.5;
  --lh-lg: 1.2;
}

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--brand-primary-100);
  text-decoration: none;
}

html {
  font: var(--fw-base) var(--fs-base) / var(--lh-base) var(--ff);
  scroll-behavior: smooth;
}

body {
  background: var(--brand-secondary-700);
  color: var(--neutral-100);
}

.radial-gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: radial-gradient(
    circle at top,
    hsla(203, 84%, 25%, 0.3) -30%,
    hsla(201, 100%, 4%, 1) 70%
  );
  z-index: -1;
}

main {
  display: grid;
  grid-template-rows: calc(100dvh - 2 * var(--wrapper-margin)) repeat(3, auto);
  gap: 8rem;
  margin: var(--wrapper-margin) auto;
  width: min(76rem, 100% - 2 * var(--wrapper-margin));

  & img {
    border-radius: 50%;
    width: 100%;
  }
}

h1,
h2,
h3 {
  color: var(--brand-primary-100);
  font-weight: var(--fw-bold);
  line-height: var(--lh-lg);
}

h1 {
  font-size: var(--fs-3xl);
}

h2 {
  font-size: var(--fs-2xl);
}

h3 {
  font-size: var(--fs-xl);
}

@media (width >= 76em) {
  :root {
    --wrapper-margin: 4rem;

    --fs-3xl: 3.4rem;
    --fs-2xl: 2.4rem;
    --fs-xl: 1.9rem;
    --fs-lg: 1.65rem;
    --fs-md: 1.4rem;
    --fs-base: 1.15rem;
    --fs-sm: 1.025rem;
    --fs-xs: 0.875rem;
  }

  main {
    gap: 12rem;
  }
}

@media (width >= 64em) {
  :root {
    --wrapper-margin: 3rem;
  }
}
