#hero {
  display: grid;
  gap: 2rem;
  grid-template-rows: auto 1fr auto;
  text-align: center;

  & nav {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr auto;

    & svg {
      width: 2.1rem;
    }
  }

  & > div:nth-of-type(1) {
    align-self: center;
    display: grid;
    gap: 1.5rem;

    & > span {
      font-size: var(--fs-xs);
      letter-spacing: 0.2rem;
      color: var(--brand-primary-100);
    }

    & h1 span {
      color: var(--brand-primary-500);
    }

    & p {
      font-size: var(--fs-sm);
    }
  }

  & > div:nth-of-type(2) {
    display: flex;
    height: 2rem;
    justify-content: center;
    position: relative;

    & > a {
      position: absolute;
      bottom: 0;
      animation: bounce 1.2s ease-in-out infinite;
    }
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  33% {
    bottom: 1rem;
  }
  100% {
    bottom: 0;
  }
}

@media (width >= 76em) {
  #hero {
    & nav {
      grid-template-columns: 1fr repeat(2, auto);

      & svg {
        width: 3rem;
      }
    }
    & div {
      & p {
        font-size: var(--fs-base);
      }
    }
  }
}
