.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  text-align: center;
}

.hero > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero > div > span {
  font-size: var(--fs-xs);
  letter-spacing: 0.2rem;
  color: var(--brand-primary-100);
}

.hero > div > h1 span {
  color: var(--brand-primary-500);
}

.hero > div p {
  font-size: var(--fs-base);
}

.arrow {
  position: relative;
  display: block;
}

@keyframes bounce {
  0% {
    margin-top: 0rem;
  }
  33% {
    margin-top: 1rem;
  }
  100% {
    margin-top: 0rem;
  }
}

.arrow > div {
  position: absolute;
  animation: bounce 1.2s ease-in-out infinite;
}

@media (width >= 80em) {
  .hero {
    gap: 3.5rem;
    margin-top: 6rem;
  }
}
