#hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 2 * var(--py-base)); /* dvh to mobile devices */
  height: calc(100vh - 2 * var(--py-base));
  justify-content: space-between;
  text-align: center;

  & nav {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    & svg {
      width: 2rem;
    }

    & div {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    & > span {
      font-size: var(--fs-xs);
      letter-spacing: 0.2rem;
      color: var(--brand-primary-100);
    }

    & h1 span {
      color: var(--brand-primary-500);
    }

    & p {
      font-size: var(--fs-sm);
    }
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  33% {
    bottom: 1rem;
  }
  100% {
    bottom: 0;
  }
}

.arrow {
  margin-top: 3.5rem;
  position: relative;

  & div {
    position: absolute;
    bottom: 0;
    animation: bounce 1.2s ease-in-out infinite;
  }
}

@media (width >= 80em) {
  #hero {
    & nav {
      & svg {
        width: 3rem;
      }
    }
    & div {
      & p {
        font-size: var(--fs-base);
      }
    }
  }
}
