.container {
  margin-inline: auto;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: flex;
}

.wrapper {
  margin-block: var(--py-base);
}

@media (width >= 80em) {
  .desktop-only {
    display: flex;
  }

  .mobile-only {
    display: none;
  }
}
