.mobile-only {
  display: grid;
}

.desktop-only {
  display: none !important;
}

.highlight {
  color: var(--brand-primary-100);
}

@media (width >= 76em) {
  .desktop-only {
    display: grid !important;
  }

  .mobile-only {
    display: none;
  }
}
